<div class="heroes-component">
    <h2>My Heroes</h2>
    <ul class="heroes-list">
        <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <span><strong>{{hero.id}}</strong> {{hero.name}}</span>
        </li>
    </ul>
</div>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details:</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>Name: 
        <input [(ngModel)]="selectedHero.name" type="text" placeholder="Name" >
    </label>
    </div>
</div>